---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";
@import "commons";

.article-description div { padding: 8px 0; }
.color-grey { color: #777; }
#footer-content { text-align: center; }
.social-icon { padding: 1px 10px 0 0; }

@import "syntax-highlighting";