---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";
@import "commons";

.color-grey { color: #777; }
.no-border { border: none; }

#footer-content { text-align: center; }

#article-head {
	.lead { margin-bottom: 10px; }
	hr { margin-top: 10px; }
}

#article-content {
	margin-bottom: 30px;
	.h2, h2 { font-size: 20px; }
}

.social-icon { padding: 1px 10px 0 0; }
.article-description div { padding: 8px 0; }

@import "syntax-highlighting";