<footer class="footer hidden-print">
	<div class="container">

		<div class="row">

			<div id="footer-content">

				<div class="col-md-12">

					<span>© 2016 Fabien MARTIN</span><br/>
					
					<a class="social-icon" href="https://github.com/beeNotice" target="_blank"><i class="fa fa-github fa-2x"></i></a>
					<a class="social-icon" href="https://twitter.com/beeNotice" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a class="social-icon" href="https://www.linkedin.com/in/martinfabien" target="_blank"><i class="fa fa-linkedin fa-2x"></i></i></a>
					<a class="social-icon" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
				
				</div>

			</div>
		</div>
		
	</div>
</footer>