{% for post in include.posts %}

	{% assign loopindex = forloop.index | modulo: 2 %}
	
	{% if loopindex == 1 %}
	<div class="row">
	{% endif %}

	<div class="col-sm-6">

		<div class="thumbnail no-border">

			<img src="http://placehold.it/450x250&amp;text=[img]">

			<div class="article-description caption">

				<div>
					<b><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></b>
					<small class="color-grey"><em>&nbsp;&nbsp;{{ post.date | date: "%d/%m/%Y" }}</em></small>
				</div>

				<div>{{ post.excerpt }}</div>

				<div>{% include categories.html post=post %}</div>

			</div>
		</div>
	</div>

	{% if loopindex == 0 or forloop.last %}
	</div>
	{% endif %}

{% endfor %}