<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	<div id="wrap">

		{% include header.html %}

		<div class="container">

			<div class="page-header">
				<h1>beeNotice's blog</h1>
				<p>Blah</p>
			</div>

			<div class="row">

				<div class="col-sm-3">

					<p>Catégories</p>

					<ul class="list-unstyled">
						{% for category in site.categories %}
						<li><a href="/categories/{{category | first | slugify }}">{{ category | first }}</a> <span class="badge">{{ category | last | size }}</span></li>
						{% endfor %}
					</ul>

				</div>

				<div class="col-sm-9">

					{{ content }}

				</div>

			</div>

		</div>

		{% include footer.html %}

	</div>

	{% include foot.html %}

</body>
</html>